/*#buttons{
    display: none;
}*/

#game-rules {
    display: none;
}

.text-center {
    align: text-center;
}

#start-menu {
    display: none;
}

#registerPanel {
    display: none;
    margin-left: 25%;
}